<div *ngIf="this.noStatus === true">
  <p>Please add status before creating a new task</p>
  <a class="btn btn-link" routerLink="../manage">Manage Status</a>
</div>
<div class="row task-row flex-nowrap" *ngIf="this.noStatus != true">
  <div class="task-col" *ngFor="let st of status">
    <div class="task-status">
      <div class="card bg-primary mb-2">
        <div class="card-body">
          <h6 class="text-white mb-0">{{ st.status }}</h6>
        </div>
      </div>
      <div class="tasks" *ngFor="let task of tasks">
        <div
          class="card bg-light"
          *ngIf="task.status === st.status"
          style="cursor: pointer"
        >
          <div class="card-body" (click)="onDetails(task.id)">
            <p class="mb-0">{{ task.title }}</p>
            <p class="small mb-0">{{ task.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="add-task">
      <div class="d-grid gap-2">
        <button class="btn btn-sm btn-light" (click)="onAddTask()">
          Add Task
        </button>
      </div>
    </div>
  </div>
</div>
