@import '../../../assets/variables';

.user-dropdown {
    height: 32px;
    width: 32px;
    background: $secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-link {
        font-weight: bold;
        color: $white;
        font-size: 1.25rem;
    }
}