<div class="page-header">
    <button class="btn" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <h4>Roles and KRA</h4>
</div>
<div class="page-content">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td width="20%">Role Title</td>
                    <td colspan="3">Software Engineer</td>
                </tr>
                <tr>
                    <td>Career Ladder</td>
                    <td colspan="3">Technical / Technology Stream</td>
                </tr>
                <tr>
                    <td>Band</td>
                    <td>B</td>
                    <td width="20%">Grade</td>
                    <td>B1</td>
                </tr>
                <tr>
                    <td>Purpose of the Job</td>
                    <td colspan="3">To execute project level such as coding, reviewing, testing etc</td>
                </tr>
                <tr>
                    <td>Span of Control</td>
                    <td colspan="3">Individual Contributor</td>
                </tr>
                <tr>
                    <td>Educational Qualification</td>
                    <td colspan="3">Bachelors degree in Engineering / Technology / Masters in Computer Applications</td>
                </tr>
                <tr>
                    <td>Work Experience Profile</td>
                    <td colspan="3">Overall industry experience range: 1 - 6 years</td>
                </tr>
                <tr>
                    <td>
                        Feeder Role
                    </td>
                    <td colspan="3">Associate Software Engineer - Level 2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="nav nav-tabs mb-3" id="myTab" style="grid-gap: 1.5rem;" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="roles-tab" data-bs-toggle="tab" data-bs-target="#roles"
                type="button" role="tab" aria-controls="roles" aria-selected="true">Role/Definition/KRAs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="competency-tab" data-bs-toggle="tab" data-bs-target="#competency" type="button"
                role="tab" aria-controls="competency" aria-selected="false">Competency Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="guidelines-tab" data-bs-toggle="tab" data-bs-target="#guidelines" type="button"
                role="tab" aria-controls="guidelines" aria-selected="false">Guidelines</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="roles" role="tabpanel" aria-labelledby="roles-tab">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <td width="10%">Key Result Areas</td>
                            <td>Specific results / Goals to be achieved</td>
                            <td width="30%">Details of the Activities involved</td>
                            <td width="30%">Measures of Performance </td>
                            <td>Weightage</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let r of rolesKra">
                            <tr *ngFor="let s of r.data">
                                <td>
                                    {{s.keyResults}}
                                </td>
                                <td>
                                    {{s.specificGoals}}
                                </td>
                                <td>
                                    {{s.activities}}
                                </td>
                                <td>
                                    {{s.measures}}
                                </td>
                                <td>
                                    {{s.weightage}}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="competency" role="tabpanel" aria-labelledby="competency-tab">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <td width="10%">Key Result Areas</td>
                            <td>Specific results / Goals to be achieved</td>
                            <td width="30%">Details of the Activities involved</td>
                            <td width="30%">Measures of Performance </td>
                            <td>Weightage</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let r of rolesKra">
                            <tr *ngFor="let s of r.data">
                                <td>
                                    {{s.keyResults}}
                                </td>
                                <td>
                                    {{s.specificGoals}}
                                </td>
                                <td>
                                    {{s.activities}}
                                </td>
                                <td>
                                    {{s.measures}}
                                </td>
                                <td>
                                    {{s.weightage}}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="guidelines" role="tabpanel" aria-labelledby="guidelines-tab">
            <ul>
                <li>Notes: These goals are arrived at based on the inputs from various sources such as job descriptions
                    used in the industry, quality standards to be adhered to, inputs from role holders and managers,
                    organizational growth plans</li>
                <li>The goals and measures are not one-to-one mapping and should be read as a cluster of goals and
                    cluster of possible measures</li>
                <li>For each of the goals there can be one or many measures from the 'measures' cluster</li>
                <li>Please remember to look at it only as a guideline that will help to an extent of 85 - 90 % in
                    defining the goals for your role. To make the goal sheet 100% accurate, the role holder and the
                    reporting manager should tailor this sheet as appropriate based on the project context and the
                    individual role.</li>
            </ul>
        </div>
    </div>

</div>