<app-page-header></app-page-header>
<div class="page-container">
    <h4>Body font size</h4>
    <p>The default body text is set to 14px. This allows building more complex and dense layouts without needing too
        much screen space. Applications usually need to show a lot more information on one page compared to, let's say, a
        blog post. This requires more denser layouts hence the smaller default body font size.</p>

    <h4>Body font size</h4>
    <p>The default body text is set to 14px. This allows building more complex and dense layouts without needing too
        much screen space. Applications usually need to show a lot more information on one page compared to, let's say, a
        blog post. This requires more denser layouts hence the smaller default body font size.</p>
</div>