@import '../../../assets/variables';

.sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid $border-color;
    .nav-link {
        display: flex;
        &:hover, &.active {
            background: $purple-100;
        }
        .nav-icon {
            width: 30px;
            display: block;
        }
    }
}