<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active">
                <span class="nav-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-heading"></i>
                </span>
                Typography
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-icons"></i>
                </span>
                Icons
            </a>
        </li>
    </ul>
</div>