<h4>Welcome Aboard</h4>
<div class="card wish-card">
    <div class="card-body">
        <div class="card-img">
            <img src="./assets/images/prathima.png" class="img-fluid" alt="">
        </div>
        <div class="card-details">
            <h5>Happy Birthday!</h5>
            <div>
            <h3 class="mb-0">Prathima Prabhu</h3>
            <span>Senior Director - Talent Enablement</span>
            </div>
        </div>
        <img src="./assets/images/cake.png" class="wish-img" alt="">
    </div>
</div>