<h4>Global</h4>
<div class="apps">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-body p-4">
                    <img src="./assets/images/mSpace.png" class="mb-3" style="max-height: 30px;" alt="">
                    <p class="mb-0">Track the seating arrangements and request seatings in any of our location for yourself or for your team.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-body p-4">
                    <img src="./assets/images/mRecruitment.png" class="mb-3" style="max-height: 30px;" alt="">
                    <p class="mb-0">AI powered recruitment platform to manage all application in one place with ease.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-body p-4">
                    <img src="./assets/images/mDeclare.png" class="mb-3" style="max-height: 30px;" alt="">
                    <p class="mb-0">Health declaration for all the martians who are visiting the campus. This is to help themselves and others.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-body p-4">
                    <img src="./assets/images/mcafe.png" class="mb-3" style="max-height: 30px;" alt="">
                    <p class="mb-0">Internal portal dedicated to all martians for their day to day tasks. Access all the information in one place at once.</p>
                </div>
            </div>
        </div>
    </div>
</div>