<div class="page-header">
    <button class="page-header-btn">
        <i class="fas fa-arrow-left"></i>
    </button>
    <div class="page-header-text">
        Bookings
    </div>
    <div class="page-header-action">
        <button class="btn btn-primary">
            <i class="fas fa-check"></i>
            Action 1
        </button>
        <button class="btn btn-secondary">
            <i class="fas fa-times"></i>
            Action 2
        </button>
    </div>
</div>
<div class="page-container">
    <div class="seat-label mb-3">
        <div>
            <span class="bg-secondary"></span>
            Occupied
        </div>
        <div>
            <span class="bg-primary"></span>
            Vecant
        </div>
        <div>
            <span class="bg-secondary opacity-50"></span>
            Blocked by Admin
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <label><strong>City</strong></label>
            <select class="form-control">
                <option disabled selected hidden>Please select a city</option>
                <option>Bangalore</option>
            </select>
        </div>
        <div class="col-md-3">
            <label><strong>Location</strong></label>
            <select class="form-control">
                <option disabled selected hidden>Please select a location</option>
                <option>SR Complex</option>
            </select>
        </div>
        <div class="col-md-3">
            <label><strong>Floor</strong></label>
            <select class="form-control">
                <option disabled selected hidden>Please select a floor</option>
                <option>SR-1</option>
            </select>
        </div>
        <div class="col-md-3">
            <label><strong>Choose a Date</strong></label>
            <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="space">
        <div class="cubicals">
            <div class="seat vecant">
                <span>1</span>
            </div>
            <div class="seat occupied">
                <span>1</span>
            </div>
            <div class="seat blocked">
                <span>1</span>
            </div>
        </div>
    </div>
</div>