<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-home"></i>
                </span>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-praying-hands"></i>
                </span>
                Welcome Aboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-file-alt"></i>
                </span>
                Policies
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-th-large"></i>
                </span>
                Apps
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-users"></i>
                </span>
                Fellow Martians
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-bullseye"></i>
                </span>
                Goals and Careers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-poll-h"></i>
                </span>
                Survey
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                Others
            </a>
        </li>
    </ul>
</div>