<div class="policies">
    <h4>Policies by Function</h4>
    <p class="lead fw-bold">IT</p>
    <div class="policy">
        <div class="row">
            <div class="col-md-4" *ngFor="let policy of policies">
                <div class="card shadow mb-4">
                    <div class="card-body" (click)="openPolicy(policy.name, policy.pdfPath)">
                        <p class="float-end mb-0"><i class="fas fa-arrow-right"></i></p>
                        <p class="mb-0">{{policy.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>