<h4>My Apps</h4>
<div class="my-apps">
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/marlabs-logo.png" alt="">
        </div>
        <strong>Marlabs</strong>
    </div>
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/mRecruitment.png" alt="">
        </div>
        <strong>mRecruit</strong>
    </div>
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/mDeclare.png" alt="">
        </div>
        <strong>mDeclare</strong>
    </div>
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/mcafe.png" alt="">
        </div>
        <strong>mCafe</strong>
    </div>
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/mSpace.png" alt="">
        </div>
        <strong>mSpace</strong>
    </div>
    <div class="app">
        <div class="app-card">
            <img src="./assets/images/marlabs.png" alt="">
        </div>
        <strong>Marlabs</strong>
    </div>
</div>