<div class="page-header">
    <button class="btn" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <h4>Prathima Prabhu</h4>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="sticky-top">
                <img src="./assets/images/prathima.png" class="img-fluid shadow rounded-circle mb-4" alt="">
                <h5>Prathima Prabhu</h5>
                <h6>Senior Director - Talent Enablement</h6>
                <p>prathima.prabhu@marlabs.com<br>
                    +91 9876543210</p>
            </div>
        </div>
        <div class="col-md-8">
            <p class="lead fw-bold">About</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur error voluptas vel explicabo
                voluptatum cupiditate adipisci officiis enim et, veritatis minima porro numquam optio dolor. Numquam
                autem labore molestias est.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit inventore et consequatur nobis
                similique blanditiis? Deserunt, fugiat. At corporis delectus ducimus qui eveniet voluptas, dolor, eius
                rerum, aliquam quaerat culpa.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo rerum dolorum accusamus praesentium
                quia, totam saepe nisi rem voluptatum quo officiis provident architecto, culpa optio similique facilis
                enim fugiat.</p>
            <p class="lead fw-bold">Qualification</p>
            <p>Bachelor’s degree in Computer Engineering from Pune University.</p>
            <p class="lead fw-bold">Interest and Hobby</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima accusamus veniam nisi voluptatum, saepe
                quis quidem dolorum ipsa aliquid enim molestias corporis similique culpa dignissimos suscipit blanditiis
                aperiam quos. Sequi.</p>
            <p class="lead fw-bold">Current Role</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et nesciunt debitis eligendi quam
                dolor voluptas assumenda obcaecati pariatur. Neque, ipsa. Quasi expedita dolores qui quod excepturi iure
                amet quae?</p>
            <p class="lead fw-bold">Achievements</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi illo dicta eligendi ducimus tenetur
                reiciendis deserunt enim libero, unde praesentium, reprehenderit voluptatibus cupiditate quod harum
                quaerat. Consequatur tempora eum neque!</p>
        </div>
    </div>
</div>