<div class="page-header">
    <button class="btn" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <h4>Designations</h4>
</div>
<div class="page-content">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Band</th>
                    <th>Grade</th>
                    <th>Technical / Technology Stream</th>
                    <th>Delivery Management</th>
                    <th>Functional / Domain Consulting</th>
                    <th>IMS</th>
                    <th>Sales & other BEFs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="1">Z</th>
                    <td>Z1</td>
                    <td (click)="openDetails()">CXO</td>
                    <td>CXO</td>
                    <td>CXO</td>
                    <td></td>
                    <td>CXO</td>
                </tr>
                <tr>
                    <th rowspan="2">F</th>
                    <td>F2</td>
                    <td>Senior Vice President</td>
                    <td>Senior Vice President</td>
                    <td>Senior Vice President</td>
                    <td></td>
                    <td> Senior Vice President</td>
                </tr>
                <tr>
                    <td>F1</td>
                    <td>Vice President</td>
                    <td>Vice President</td>
                    <td>Vice President</td>
                    <td></td>
                    <td>Vice President</td>
                </tr>
                <tr>
                    <th rowspan="3">E</th>
                    <td>E3</td>
                    <td>Senior Principal Architect</td>
                    <td>Associate Vice President</td>
                    <td>Senior Principal Consultant</td>
                    <td>Senior Principal Architect</td>
                    <td>Associate Vice President</td>
                </tr>
                <tr>
                    <td>E2</td>
                    <td>Senior Principal Architect</td>
                    <td>Senior Delivery Manager</td>
                    <td></td>
                    <td></td>
                    <td>Senior Director</td>
                </tr>
                <tr>
                    <td>E1</td>
                    <td>Principal Architect</td>
                    <td>Delivery Manager</td>
                    <td>Principal Consultant</td>
                    <td>Principal Architect</td>
                    <td>Director</td>
                </tr>
                <tr>
                    <th rowspan="2">D</th>
                    <td>D2</td>
                    <td>Senior Architect</td>
                    <td>Senior Project Manager</td>
                    <td>Lead Consultant</td>
                    <td>Senior Architect</td>
                    <td>Senior Manager</td>
                </tr>
                <tr>
                    <td>D1</td>
                    <td>Architect</td>
                    <td>Project Manager</td>
                    <td>Senior Consultant
                    </td>
                    <td>Architect</td>
                    <td>Manager</td>
                </tr>
                <tr>
                    <th rowspan="2">C</th>
                    <td>C2</td>
                    <td>Senior Technical Lead</td>
                    <td>Project Lead</td>
                    <td>Consultant</td>
                    <td>Senior Technical Lead</td>
                    <td>Assistant Manager</td>
                </tr>
                <tr>
                    <td>C1</td>
                    <td>Technical Lead</td>
                    <td></td>
                    <td>Senior Analyst / Associate Consultant</td>
                    <td>Technical Lead</td>
                    <td>Lead Executive</td>
                </tr>
                <tr>
                    <th rowspan="2">B</th>
                    <td>B2</td>
                    <td>Senior Software Engineer</td>
                    <td></td>
                    <td>Business Analyst / Analyst</td>
                    <td>Senior Engineer</td>
                    <td>Senior Executive</td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>Software Engineer</td>
                    <td></td>
                    <td>Business Analyst / Analyst - Trainee</td>
                    <td>Engineer</td>
                    <td>Executive</td>
                </tr>
                <tr>
                    <th rowspan="3">A</th>
                    <td>A3</td>
                    <td>Associate Software Engineer - Level 2</td>
                    <td></td>
                    <td></td>
                    <td>Associate Engineer - Grade 2</td>
                    <td>Senior Associate - L2</td>
                </tr>
                <tr>
                    <td>A2</td>
                    <td>Associate Software Engineer - Level 1</td>
                    <td></td>
                    <td></td>
                    <td>Associate Engineer - Grade 1</td>
                    <td>Senior Associate - L1</td>
                </tr>
                <tr>
                    <td>A1</td>
                    <td>Associate</td>
                    <td></td>
                    <td></td>
                    <td>Associate</td>
                    <td>Associate</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>