<h4>Welcome Aboard</h4>
<div class="card wish-card">
    <div class="card-body">
        <div class="card-img">
            <img src="./assets/images/harshitha.png" class="img-fluid" alt="">
        </div>
        <div class="card-details">
            <h5>1st Anniversary!</h5>
            <div>
            <h3 class="mb-0">Harshitha E</h3>
            <span>Software Engineer - IS Team</span>
            </div>
        </div>
        <img src="./assets/images/valentines-day.png" class="wish-img" alt="">
    </div>
</div>