<div class="sidebar">
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <span class="nav-icon">
                    <i class="fas fa-home"></i>
                </span>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="welcome-aboard">
                <span class="nav-icon">
                    <i class="fas fa-praying-hands"></i>
                </span>
                Welcome Aboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="hr-policies">
                <span class="nav-icon">
                    <i class="fas fa-file-alt"></i>
                </span>
                HR Policies
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="apps">
                <span class="nav-icon">
                    <i class="fas fa-th-large"></i>
                </span>
                Apps
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="fellow-martians">
                <span class="nav-icon">
                    <i class="fas fa-users"></i>
                </span>
                Fellow Martians
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="policies">
                <span class="nav-icon">
                    <i class="fas fa-copy"></i>
                </span>
                Policies by Function
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span class="nav-icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                Others
            </a>
        </li>
    </ul>
    <div class="card bg-success text-white mb-3">
        <div class="card-body">
            <p class="mb-2 text-uppercase"><strong>Learning at Marlabs</strong></p>
            <p class="mb-0">An initiative aimed at
                encouraging every Martian
                adopt continuous learning</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="mb-2 text-uppercase"><strong>Job Referral</strong></p>
            <p class="mb-0">Click to know about
                employee referral bonus
                and referral policies</p>
        </div>
    </div>
    <ul class="nav justify-content-center fs-5 mt-auto">
        <li class="nav-item">
            <a class="nav-link">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</div>