<div class="page-header">
    <button class="page-header-btn">
        <i class="fas fa-arrow-left"></i>
    </button>
    <div class="page-header-text">
        Typography
    </div>
    <div class="page-header-action">
        <button class="btn btn-primary">
            <i class="fas fa-check"></i>
            Action 1
        </button>
        <button class="btn btn-secondary">
            <i class="fas fa-times"></i>
            Action 2
        </button>
    </div>
</div>
<div class="page-container">
    <h4>Body font size</h4>
    <p>The default body text is set to 14px. This allows building more complex and dense layouts without needing too
        much screen space. Applications usually need to show a lot more information on one page compared to, let's say, a
        blog post. This requires more denser layouts hence the smaller default body font size.</p>

    <h4>Body font size</h4>
    <p>The default body text is set to 14px. This allows building more complex and dense layouts without needing too
        much screen space. Applications usually need to show a lot more information on one page compared to, let's say, a
        blog post. This requires more denser layouts hence the smaller default body font size.</p>
</div>