<div class="row">
    <div class="col-md-3" *ngFor="let pizza of pizza">
        <div class="card shadow">
            <div class="card-body">
                <div class="img-container">
                    <img [src]="'./assets/images/' + pizza.image" class="img-fluid" [alt]="pizza.name">
                </div>
                <h6>{{pizza.name}}</h6>
                <p class="description">{{pizza.description}}</p>
                <div>
                    <p class="badge rounded-pill border text-dark px-3 py-2 mb-4">{{pizza.price | currency: 'INR'}}</p>
                </div>
                <button class="btn btn-cart" (click)="addToCart(pizza)">
                    <img src="./assets/images/add-to-basket.png" class="img-fluid" alt="">
                </button>
            </div>
        </div>
    </div>
</div>