<div class="page-header">
    <h4>Theme Components</h4>
</div>
<div class="page-content">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h5>Main Carousel</h5>
            <div class="main-carousel mb-0">
                <div class="carousel-img">
                    <img src="./assets/images/goals-careers.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <h5>Event Card</h5>
            <div class="event">
                <div class="event-card">
                    <div class="date-card">7<span>Sep</span></div>
                    <p>25 year celebration series</p>
                    <h5 class="lh-base">Practice Talk: Dymistifying the AI/ML Practice</h5>
                    <p>08 Jan 2021<br>05:00 - 05:45 PM</p>
                    <p class="text-center mb-0"><a routerLink="events/event-details">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <h5>Martian Card</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="card martian-card">
                        <div class="card-body">
                            <div class="card-img">
                                <img src="./assets/images/prathima.png" class="img-fluid" alt="">
                            </div>
                            <div class="card-details">
                                <h3 class="mb-0">Prathima Prabhu</h3>
                                <span>Senior Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card martian-card">
                        <div class="card-body">
                            <div class="card-img">
                                <img src="./assets/images/prathima.png" class="img-fluid" alt="">
                            </div>
                            <div class="card-details">
                                <h3 class="mb-0">Prathima Prabhu</h3>
                                <span>Senior Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card martian-card">
                        <div class="card-body">
                            <div class="card-img">
                                <img src="./assets/images/prathima.png" class="img-fluid" alt="">
                            </div>
                            <div class="card-details">
                                <h3 class="mb-0">Prathima Prabhu</h3>
                                <span>Senior Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <h4>Policy List</h4>
            <div class="policy">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <p class="float-end mb-0"><i class="fas fa-arrow-right"></i></p>
                                <p class="mb-0">Policy Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>