<div class="page-header">
    <h4>Goals and Careers</h4>
</div>
<div class="page-content">
    <div class="main-carousel">
        <div class="carousel-img">
            <img src="./assets/images/goals-careers.png" class="img-fluid" alt="">
        </div>
    </div>
    <p>Marlabs is striving to build a high performance culture where every one of you is encouraged to bring out your
        best in the different roles that each one is playing. Many initiatives are being put in place to build a culture
        that focuses on learning, professional development and pursuing excellence in everything we do here.</p>
    <p>The new performance management system at Marlabs aims at enhancing performance of people through structured goal
        setting with clear measures and standards and basing evaluations against these goals. The system also enables
        capturing of feedback, achievement and activities all through the year to ensure performance data of every
        employee is captured and made available as s/he moves through different projects / assignments through the year.
    </p>
    <div class="text-center">
        <a class="btn btn-success btn-lg" routerLink="designation">Roles and KRA</a>
    </div>
</div>