@import "./assets/variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
    font-size: 14px;
}

body {
    height: 100vh;
}

.sidebar {
    width: 200px;
}

.main {
    display: flex;
    height: 100%;
    .wrapper {
        width: 100%;
        background: #F1F1F1;
        padding: 50px;
        border-top-left-radius: 50px;
        box-shadow: inset 10px 10px 25px 0px rgb(0 0 0 / 5%);

    }
}

// Header
.nav {
    padding: 1rem;
    &-icon {
        display: inline-block;
        width: 24px;
    }
}