/* You can add global styles to this file, and also import other style files */

@import "./assets/variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  font-size: 14px;
}

// buttons
.btn {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  &-loading {
    cursor: wait !important;
    opacity: 0.9;
  }
  &-icon {
    @extend .btn-secondary;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    font-size: $small-font-size;
  }
  &:disabled {
    pointer-events: auto;
    cursor: not-allowed;
  }
  ~ .btn {
    margin-left: 0.5rem;
  }
  &-link:focus {
    box-shadow: unset;
  }
}

// layout
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  .sidebar {
    width: 230px;
    height: 100%;
    border-right: 1px solid $border-color;
    transition: 0.3s all;
    overflow-x: hidden;
    .nav-link {
      display: flex;

      .nav-text {
        transition: 0.2s all;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .dropdown-chevron {
        transition: 0.2s all;
        margin-left: auto;
      }
      &:hover,
      &.active {
        background: $purple-100;
      }
      .nav-icon {
        width: 30px;
        display: block;
      }
    }
    .has-treeview {
      .nav-link {
        &[aria-expanded="true"] {
          .dropdown-chevron {
            transform: rotate(90deg);
          }
        }
      }
      .nav {
        padding-left: 0.75rem;
        transition: 0.3s all;
      }
    }
    .logo {
      text-align: center;
      padding: 1rem;
      img {
        transition: 0.3s all;
        width: 90px;
      }
    }
    &.sidebar-collapsed {
      width: 45px;
      &:hover {
        width: 230px;
        .nav-text {
          opacity: 1;
        }
        .logo {
          img {
            transform: translateX(0);
          }
        }
        .has-treeview {
          .nav {
            padding-left: 0.75rem;
          }
        }
      }
      .has-treeview {
        .nav {
          padding-left: 0;
        }
      }
      .nav-text {
        opacity: 0;
      }
      .logo {
        img {
          transform: translateX(100%);
        }
      }
    }
  }
  .main {
    width: 100%;
    header {
      .logo {
        overflow: hidden;
        img {
          transform: translateX(-150px);
          width: 90px;
          transition: 0.3s all;
        }
      }
      &.sidebar-collapsed {
        .logo {
          img {
            transform: translateX(0);
          }
        }
      }
      &.sidebar-hovered {
        .logo {
          img {
            transform: translateX(-150px);
          }
        }
      }
      .user-dropdown {
        height: 32px;
        width: 32px;
        background: $secondary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-link {
          font-weight: 500;
          color: $white;
          font-size: 1.25rem;
        }
      }
    }
    .page-header {
      display: flex;
      align-items: center;
      @extend .px-3;
      @extend .py-2;
      @extend .border-bottom;
      &-btn {
        border: 0;
        background: transparent;
        margin-right: 1rem;
        font-size: 16px;
      }
      &-text {
        font-size: 18px;
        font-weight: 500;
      }
      &-action {
        margin-left: auto;
      }
    }

    .page-container {
      @extend .container-fluid;
      padding: 3rem;
    }
  }
}

// space
.seat-label {
  display: flex;
  justify-content: center;
  grid-gap: 1.5rem;
  div {
    display: flex;
    align-items: center;
    grid-gap: 0.25rem;
    span {
      display: inline-flex;
      height: 20px;
      width: 20px;
      &.opacity-50 {
          opacity: .5;
      }
    }
  }
}
.space {
  .cubicals {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.5rem;
    .seat {
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      &.vecant {
        &:hover {
          background: rgba($primary,.75);
          color: $white;
        }
      }
      &.occupied {
        background: $primary;
        color: $white;
      }
      &.blocked {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
