/* You can add global styles to this file, and also import other style files */

@import "./assets/variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  font-size: 14px;
}

// buttons
.btn {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  &-loading {
    cursor: wait !important;
    opacity: 0.9;
  }
  &-icon {
    @extend .btn-secondary;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    font-size: $small-font-size;
  }
  &:disabled {
    pointer-events: auto;
    cursor: not-allowed;
  }
  ~ .btn {
    margin-left: 0.5rem;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  .sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid $border-color;
    .nav-link {
      display: flex;
      &:hover,
      &.active {
        background: $purple-100;
      }
      .nav-icon {
        width: 30px;
        display: block;
      }
    }
    .logo {
      text-align: center;
      padding: 1rem;
      img {
        max-height: 24px;
      }
    }
  }
  .main {
    width: 100%;
    header {
      .user-dropdown {
        height: 32px;
        width: 32px;
        background: $secondary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-link {
          font-weight: bold;
          color: $white;
          font-size: 1.25rem;
        }
      }
    }
    .page-header {
      display: flex;
      align-items: center;
      @extend .px-3;
      @extend .py-2;
      @extend .border-bottom;
      &-btn {
        border: 0;
        background: transparent;
        margin-right: 1rem;
        font-size: 16px;
      }
      &-text {
        font-size: 18px;
        font-weight: 500;
      }
      &-action {
        margin-left: auto;
      }
    }

    .page-container {
      @extend .container-fluid;
      padding: 3rem;
    }
  }
}
