<h4>Welcome Aboard</h4>
<div class="card wish-card">
    <div class="card-body">
        <div class="card-img">
            <img src="./assets/images/aravamudan.png" class="img-fluid" alt="">
        </div>
        <div class="card-details">
            <h5>Most Valuable Player!</h5>
            <div>
            <h3 class="mb-0">Aravamudan R</h3>
            <span>Associate Vice President - IS</span>
            </div>
        </div>
        <img src="./assets/images/award.png" class="wish-img" alt="">
    </div>
</div>