<div class="page-header">
    <h4>Welcome Aboard</h4>
</div>
<div class="page-content">
    <div class="card wish-card">
        <div class="card-body">
            <div class="card-img">
                <img src="./assets/images/bhadresh.png" class="img-fluid" alt="">
            </div>
            <div class="card-details">
                <h5>Welcome Aboard!</h5>
                <div>
                    <h3 class="mb-0">Bhadresh Arya</h3>
                    <span>Software Engineer - IS Team</span>
                </div>
            </div>
            <img src="./assets/images/deal.png" class="wish-img" alt="">
        </div>
    </div>
</div>